
<p>
    <span>
        Descripcón:
    </span>
    {{description}}
</p>
<p>
    <span>
        Version:
    </span>
    {{version}}
</p>
<p>
    <span>Author: </span> {{name}}
</p>
<p>
    <span>
        Correspondencia electronica: 
    </span> 
    {{email}}
</p>
<p>
    <span> 
        🎱:
    </span> 
    <a href="{{url}}">Git</a>
</p>